@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #d5e1ef;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(95%, 20rem);
    height: 499px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 15px;
}

.qr-card{
    padding: 1.2rem;
    text-align: center;
}

.qr-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    
}

.qr-card-text {
    margin: 24px 16px 40px 16px;
}

.qr-card-text h1{
    font-size: 1.3rem;
    line-height: 120%;  
    
}



.qr-card-text p {
    line-height: 140%;
}